:root {
    --main-dark-color: var(--bs-dark);
    --main-white-color: var(--bs-white);
    --main-gray800-color: var(--bs-gray-800);
    --main-gray500-color: var(--bs-gray-500);
    --fs-14: 0.875rem;
    --fs-18: 1.125rem;
    --fs-24: 1.5rem;
    --fs-36: 2.25rem;
    --fs-48: 3rem;
}

.bg-main-dark {
    background-color: var(--main-dark-color);
}

.bg-main-white {
    background-color: var(--main-white-color);
}

.bg-main-gray800 {
    background-color: var(--main-gray800-color);
}

.bg-main-gray500 {
    background-color: var(--main-gray500-color);
}


.text-main-dark {
    color: var(--main-dark-color);
}

.text-main-white {
    color: var(--main-white-color);
}

.text-main-gray800 {
    color: var(--main-gray800-color);
}

.text-main-gray500 {
    color: var(--main-gray500-color);
}


.border-main-dark {
    border-color: var(--main-dark-color) !important;
}


.fs-14 {
    font-size: var(--fs-14);
}

.fs-18 {
    font-size: var(--fs-18);
}

.fs-24 {
    font-size: var(--fs-24);
}

.fs-36 {
    font-size: var(--fs-36);
}

.fs-48 {
    font-size: var(--fs-48);
}

.btn-main-dark {
    --bs-btn-color: var(--main-white-color);
    --bs-btn-bg: var(--main-dark-color);
    --bs-btn-border-color: var(--main-dark-color);
    --bs-btn-hover-color: var(--main-white-color);
    --bs-btn-hover-bg: var(--main-gray800-color);
    --bs-btn-focus-shadow-rgb: 66, 70, 73;
    --bs-btn-hover-border-color: var(--main-gray800-color);
    --bs-btn-active-color: var(--main-white-color);
    --bs-btn-active-bg: var(--main-gray800-color);
    --bs-btn-active-border-color: var(--main-gray500-color);
    --bs-btn-border-radius: 0;
}

.btn-main-big {
    width: 20rem;
    font-size: var(--fs-36);
    box-shadow: 0px 12px 10px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

.btn-main-dark:disabled {
    opacity: 0.3;
    color: var(--main-white-color);
    background-color: var(--main-dark-color);
    border-color: var(--main-dark-color);
}

.input-main {
    border-radius: 0;
}

.input-main[type=checkbox],
.input-main[type=checkbox]~.form-label {
    cursor: pointer;
}

.input-main:focus {
    border-color: var(--main-dark-color);
    box-shadow: none;
}


a:hover {
    color: var(--main-white-color);
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    color: var(--main-dark-color);
}

.main {
    flex: auto;
}