#headerInfo {
    height: 28px;
}

#headerInfoColapsed {
    display: none;
}

#logo {
    height: 50px;
}

.navbar {
    padding: 0.75rem 0 !important;
}

.navbar a:not(.dropdown-item) {
    width: fit-content !important;
}

header .nav-item:last-child>.nav-link {
    padding-right: 0 !important;
}

@media (max-width: 1200px) {
    .nav-link {
        font-size: var(--fs-14) !important;
    }
}

@media (max-width: 991px) {
    .nav-link {
        font-size: var(--fs-18) !important;
    }
}

@media (max-width: 767px) {
    #headerInfo {
        display: none !important;
    }

    #headerInfoColapsed {
        display: flex !important;
    }
}

@media (max-width: 575px) {
    #logo {
        height: 35px;
    }

    #headerInfoColapsed p {
        font-size: var(--fs-14) !important;
    }
}
